ion-title,
ion-content{
  font-family: 'PT Serif', serif;
}
ion-toolbar{
  --background: #43114a;
}
ion-content{
  --background:#43114a;
}
.text-white{ color: #fff;}
h1{
  letter-spacing: 2px;
    
}
